





# Exploratory data analysis

Basic Structures

Let's import some important packages and read the dataset

In [ ]:
import numpy as np
import pandas as pd
import plotly as plt
from datetime import datetime
#dateparse = lambda x: pd.datetime.strptime(x,'%y-%m-%d')
data = pd.read_csv("F://DSA//wfp_food_prices_eth selected.csv")#,parse_dates=['date'],date_parser=dateparse)
import matplotlib.pyplot as plt
data.ndim # dimension both row and column

In [ ]:
data.head()# the first five rows of the dataset

In [ ]:
data.tail(10)# the last ten rows of the dataset

In [ ]:
#to remove the first not important row from the dataset
data.drop([0],axis=0,inplace=True)
data.head() # we can see the first not important row is removed so we can easily calculate statstical data

In [ ]:
#data.loc[1,'date'].day_name()# here the date is in string format to solve this , change it in date format

In [ ]:
data['date']  = pd.to_datetime(data['date'])# changing the date from object to string format
data['date']

In [ ]:
data.isnull().sum()#to check how many null values

In [ ]:
data[data.isnull().any(axis=1)].head()# the missing values in the dataset at any row

In [ ]:
data.admin1 = data.admin1.fillna('Misrak Gojam')# now filling the null values  
data.admin1
data.admin2 = data.admin2.fillna('Enemay woreda')
data.admin2
data.latitude = data.latitude.fillna(10.27)
data.latitude
data.longitude = data.longitude.fillna(38.12)
data.longitude

In [ ]:
data.isnull().sum()#to check how many null values after filling the empty space

In [ ]:
data.dtypes# data types

In [ ]:
data['price'] = data.price.astype(float)
data['usdprice'] = data.usdprice.astype(float)#to change the price value from object to float
data.dtypes

In [ ]:
print("checking Redundancy in each column")
column ={'price':data['price'].duplicated().sum(),'pricetype':data['pricetype'].duplicated().sum()
        ,'priceflag':data['priceflag'].duplicated().sum(),'commodity':data['commodity'].duplicated().sum(),'category':data['category'].duplicated().sum(),'market':data['market'].duplicated().sum(),'date':data['date'].duplicated().sum(),'currency':data['currency'].duplicated().sum(),'unit':data['unit'].duplicated().sum(),'admin1':data['admin1'].duplicated().sum(),'admin2':data['admin2'].duplicated().sum(),'latitude':data['latitude'].duplicated().sum(),'longitude':data['longitude'].duplicated().sum()
  
        }
for col, c_val in column.items():
        print('The amount of redundent value in  '+ col +'-> ' + str(c_val) )

In [ ]:
# we have seen how much all columns have redundent values, now all redundent values removed 
print("these are number of values in each column after removing the redundent values")
print("commodity: " + str(data['commodity'].drop_duplicates().shape))
print("price: "+ str(data['price'].drop_duplicates().shape))
print("pricetype :" + str(data['pricetype'].drop_duplicates().shape))
print("priceflag:" + str(data['priceflag'].drop_duplicates().shape))
print("unit:" + str(data['unit'].drop_duplicates().shape))
print("currency: "+ str(data['currency'].drop_duplicates().shape))
print("latitude :"+ str(data['latitude'].drop_duplicates().shape))
print("longitude :" + str(data['longitude'].drop_duplicates().shape))
print("market :" + str(data['market'].drop_duplicates().shape))
print("admin1 :"+ str(data['admin1'].drop_duplicates().shape))
print("admin2 :"+ str(data['admin2'].drop_duplicates().shape))
print("category :" + str(data['category'].drop_duplicates().shape))
print("date :" + str(data['date'].drop_duplicates().shape))

In [ ]:
data.duplicated().sum()# no duplicate value in general context

In [ ]:
data.columns# list the name of columns

In [ ]:
data.size#number of elements

In [ ]:
data.axes   # listing the row labels and column names

In [ ]:
data.shape# to see both total number of rows and total number of columns

In [ ]:
data[['category','priceflag','price']]# slicing multiple column from whole dataset

In [ ]:
data.values# array or matrix form in general numpy representation

â€¢ Summary statistics

In [ ]:
#data frame methods need parenthesis they are describe(),head(),std(),mean(),median(),min(),max(),sample(),dropna()
data.min()

In [ ]:
data.max()

In [ ]:
data['price'].count()

#data.price
#mean(price)

In [ ]:
data['price']

In [ ]:
print(data['pricetype'].value_counts(dropna=False))
print(data['admin1'].value_counts(dropna=False))#  it counts as it is

In [ ]:
data.sum(axis = 1)
print(data['price'].sum())
print(data['usdprice'].sum())

#data.sum()

In [ ]:
data.sort_values('price')# sorting / ordering by price

In [ ]:
data.describe() # statistical summary of the data

In [ ]:
data.sample()

In [ ]:
data.mean()

In [ ]:
data.cov()#calculating the covariance

In [ ]:
data['latitude']= data.latitude.astype(float)
data['longitude']= data.longitude.astype(float)# if the datatype is not changed it is difficult for statsical data

data["latitude"].corr(data["longitude"])# the correlation between latitude and longitude

In [ ]:
data[data.commodity=="Teff"].usdprice.mean()# the mean value of teff price to see as an example

In [ ]:
data['price'].max()# maximum price

In [ ]:
data['date'].min()# the starting date

In [ ]:
data['date'].max()# the end date of this dataset

In [ ]:
# aggregation or computing summary statistic  for each group
data[['commodity','category']].agg(['min','max'])

In [ ]:
data.sort_values('commodity').head(10)# sorting the commodity and displaying the first ten rows

Grouping

In [ ]:
data.groupby('priceflag')[['price']].min() #using the minimum price it is grouping the price flag

In [ ]:
data_subset = data[data['category'] =='non-food']# this is filtering or subsetting the 
                                                  #data based on boolean less, greater equal , not equal, greater or equal
data_subset.head()

In [ ]:
data.commodity.count()

In [ ]:
#what about if we select rows with its specific labels we use the method loc 
data.loc[10:20,['date','market','category']]

In [ ]:
data.loc[50:55,['date','commodity','price','admin1']]# to see as an example

In [ ]:
data.iloc[10:20,[0,3,6]]# the same to loc but it uses index location or position here we use the column names index

In [ ]:
data.iloc[[0,4],[2,5]]# 0th row column 2, 0th row column 5, 4th row column 2 and 4th row column 5

In [ ]:
data.iloc[:,0:3]# first three columns

In [ ]:
data.iloc[1:3,:]# 1st row or index one's row up to index 3 doesn't include index 3

In [ ]:
data.iloc[3:6,2:5]

In [ ]:
data.commodity.value_counts().head(10)# each individuals quantity in number

In [ ]:
data.commodity.unique()# array format of the total record of commodity with out redundency

In [ ]:
data.commodity.nunique()# total number of records in that column

In [ ]:
#grouping the price type and commodity
comm_pricetype=pd.DataFrame(data.groupby(['pricetype','commodity']).sum()['price'])
comm_pricetype.sort_values(['pricetype','price'],ascending=False)

In [ ]:
#the first 10 expensive commodity prices in decreasing order
commodity_price=pd.DataFrame(data.groupby('commodity').sum()['price'])
comm_price=commodity_price.sort_values('price',ascending=False)
comm_price[:10]

In [ ]:
#getting month year from dataset, leaving the days
data['month-year'] = data['date'].apply(lambda x: x.strftime('%Y-%m'))
#grouping month year
data_trend=data.groupby('month-year').sum()['price'].reset_index()
data_trend

In [ ]:
df = pd.DataFrame(data,columns=['commodity','category','priceflag']).head()#creating dataframe for the first five commodity, category and priceflag values
df

In [ ]:
pd.DataFrame(data.category.value_counts())# each categories quantity

In [ ]:
pd.DataFrame(data.priceflag.value_counts())

In [ ]:
pd.DataFrame(data.priceflag.value_counts(normalize=True))# to make the proportion easily

In [ ]:
bycategory = data.groupby('category').priceflag.value_counts(normalize=True)
bycategory

In [ ]:
bycategory.unstack()# now we can get  the well structured record than the previous

In [ ]:
data['priceGroup'] = pd.cut(data.price,[1,600,1300,2000,2800,9000], labels=['1-600','600-1300','1300-2000','2000-2800','2800-9000'])
data['priceGroup'].head()# creating the group for price data , here we use maximum price as 9000

In [ ]:
byprice = data.groupby(['priceGroup','category']).priceflag.value_counts(normalize=True)

In [ ]:
byprice.unstack().drop("aggregate",axis = 1)

In [ ]:
byprice.unstack().drop("aggregate",axis = 1).unstack()# to clean it much more and plot it again

In [ ]:
byprice2 = byprice.unstack().drop("aggregate",axis = 1).unstack()# to clean it much more and plot it again
byprice2.columns = ['cereals and tubers','meat, fish and eggs','milk and dairy','miscellaneous food','non-food','oil and fats','pulses and nuts','vegetables and fruits']
byprice2.columns.name = "category"

In [ ]:
byprice2

In [ ]:
# how to sort using 2 or more columns
data.sort_values(by=['commodity','price'],ascending=[True,True]).head()

In [ ]:
pd.DataFrame(data.commodity.value_counts())

Distribution

In [ ]:
#getting month year from dataset
#data['year'] = data['date'].apply(lambda x: x.strftime('%Y'))
data['year'] = data['date'].apply(lambda x: x.strftime('%Y'))

#grouping by year
data_trend=data.groupby('year').sum()['price'].reset_index()
plt.plot(data_trend.year,data_trend.price,'b.-',label="price")
plt.ylabel('Price_trend')

data_trend.year[::5]
plt.xticks(data_trend.year[: :5])
plt.legend()
plt.show()
#print(data_trend)

In [ ]:
comm_price=data.groupby('commodity').sum()['price'].reset_index()
plt.plot(comm_price.commodity,comm_price.price,'r.-',label="commodity")
plt.ylabel('commodity_trend')
plt.xticks(comm_price.commodity[: :10])
comm_price.commodity[::10]
plt.xticks(rotation='vertical',size=10)
plt.legend()
plt.show()

In [ ]:
print(data.date[::10000])# subsetting the set by ten thausand

In [ ]:

plt.figure(figsize=(20,6))
plt.plot(data.date,data.price,label="price_trend")# such a bulk data elements
plt.xticks(data.date[::10000])#even using this large subset
plt.ylabel('Price_trend')
plt.legend()
plt.show()

In [ ]:
# the most prefered category using distribution
import seaborn as sns
plt.figure(figsize=(15,8))
plt.xticks(rotation='vertical',size=10)
sns.countplot(data['category'])

# now lets visualise  the groups of the distribution

In [ ]:
plt.figure(figsize=(10,4))
plt.subplot(1,2,1);data.priceflag.value_counts().plot(kind='bar',color=['C0','C1'])
plt.title('Priceflag')
plt.subplot(1,2,2);data.category.value_counts().plot(kind='bar',color=['C2','C3'])
plt.title('category')

In [ ]:
plt.subplot(2,2,1);data.priceflag.value_counts().plot(kind='pie',colors=['C0','C1']);
plt.title('Priceflag')
plt.subplot(2,2,2);data.category.value_counts().plot(kind='pie',colors=['C0','C1','C2','C3','C4','C5','C6','C7']);
plt.title('category')

In [ ]:
bycategory.unstack().plot(kind='bar',stacked=True)

In [ ]:
plt.figure(figsize=(20,8))
byprice.unstack().plot(kind='bar',stacked=True)

In [ ]:
byprice2.plot(kind='bar')

In [ ]:
data.price.plot(kind="hist")

#data.commodity.plot(kind="hist")

In [ ]:
plt.figure(figsize=(20,8))
group=data.groupby("category")
group.mean().plot(kind="bar")

In [ ]:
#scatter plot to see the relation items in each of the groups
ax=data.plot.scatter(x='priceflag', y='category', 
                     color='Blue', label='priceflag')
data.plot.scatter(x='pricetype', y='category', color='red', 
                  label='category', ax=ax)

Pivot

In [ ]:
pivot_df = pd.DataFrame({'price':[120.75,187.25,222.0,168.75,124.50,171.25,246.25,163.75,314.00,582.00,795.00,550.00,456.0,894.00,1205.00,973.00],'commodity':['Maize(White)','Sorghum(white)','Teff','Wheat','Maize(White)','Sorghum(white)','Teff','Wheat','Maize(White)','Sorghum(white)','Teff','Wheat','Maize(White)','Sorghum(white)','Teff','Wheat'],'date':[2000,2000,2000,2000,2005,2005,2005,2005,2010,2010,2010,2010,2015,2015,2015,2015]})
df_pivot1=pivot_df.pivot(index='date',columns='commodity',values='price')
df_pivot1

In [ ]:
data.pivot_table(index='category',columns='date')

In [ ]:
# visualizing the pivot output
plt.figure(figsize=(15,4))
plt.plot(df_pivot1)
plt.ylabel('Maize,Sorghum,Teff,Wheat')
plt.xticks(rotation='vertical',size=8)
plt.show()

Crosstab

In [ ]:
pd.crosstab(data.commodity, data.date)

# Creating dash board and screenshoot

In [ ]:
import dash
import plotly as py
from dash.dependencies import Input, Output
import dash_html_components as html
import plotly.io as pio
import plotly.express as px
import dash_core_components as dcc
#import dash_bootstrap_components as dbc
import plotly.graph_objs as go
import ipywidgets as widgets
from scipy import special
py.offline.init_notebook_mode(connected= True)

In [ ]:
msk = data['admin1']=='Addis Ababa'
px.line(data[msk],x='date',y='price',color='pricetype',title='Price trend in Addis Ababa')

In [ ]:
#create the dash app and other userfriendly features

In [ ]:
app=dash.Dash()
app.layout= html.Div(children=[html.H1(children='Food Prices Dashboard'),dcc.Dropdown(id='admin-dropdown',
                                                                        options=[{'label':i,'value':i}
                                                                             for i in data['admin1'].unique()],
                                                                                     value='Addis Ababa'),
                                                                         dcc.Graph(id='price-graph')])

In [ ]:
#call back function
@app.callback(
Output(component_id='price-graph',component_property='figure'),
Input(component_id='admin-dropdown',component_property='value')
)
def update_graph(selected_admin):
    filtered_data = data[data['admin1']==selected_admin]
    line_fig = px.line(filtered_data,x='date',y='price',color='pricetype',
                       title=f'Food prices in {selected_admin}')
    return line_fig

# run local server

In [ ]:
if __name__ =='__main__':
    app.run_server(debug=False)

In [ ]:
# some samples from dashboard

In [ ]:
from IPython.display import Image
Image(filename = "C://Users//Remla//Downloads//New folder//oromiya.png",width = 400,height=1000)

In [ ]:
Image(filename = "C://Users//Remla//Downloads//New folder//Afar.png",width = 400,height=1000)

In [ ]:
Image(filename = "C://Users//Remla//Downloads//New folder//addiss Ababa.png",width = 400,height=1000)